extends layout

block content
  h1= title
  p Constituents Admin tool
  a(href='constituents') List Constituents
  br
  a(href='constituents/export') Export Constituents
  br
  a(href='constituents/add') Add Constituent


